<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="JWong Eats">
    <meta property="og:image" content="<%= image_url("readme-main.png") %>">
    <meta property="og:description" content="A full-stack clone of UberEats">
    <meta property="og:url" content="https://jwong-eats.herokuapp.com/#/">
    <title>JWongEats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/bec3e432dc.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
